.hero-bg {
  background-image: linear-gradient(
      rgba(92, 64, 51, 0.7),
      rgba(92, 64, 51, 0.7)
    ),
    url(Gallery/bkground.jpg);
  height: 500px;
}

body {
  /* padding: 0 3rem 0 3rem; */
}

.briar-brown {
  background-color: #5c4033;
}
.briar-light {
  background-color: #8b5a2b;
}
.briar-dark {
  background-color: #3e2723;
}
.text-briar {
  color: #5c4033;
}
.border-briar {
  border-color: #5c4033;
}

#pipe_img {
  width: 40px;
}

#signature {
  height: 3rem;
}

.menu_text {
  font-size: 1.5rem;
}

.btn {
  margin: 5px;
}

.btn:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.center-div {
  text-align: center;
}

.product-images-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 coloane egale */
  gap: 10px;
  margin: 1rem 0 1rem 0;
}

.itemDescription {
  font-size: 1.5rem;
  text-align: center;
  /* text-indent: 30px; */
}

.buttons-align {
  display: flex;
  justify-content: space-evenly;
}

#product-div {
  display: flex;
  justify-content: center;
}

.fullImage {
  width: 30vw;
  border-radius: 20px;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.normalImage {
  width: 50vw;
}

.fullImage:hover {
  width: 100%;
  transform: scale(1.5);
  z-index: 1;
}

#logo {
  width: 300px;
  margin-top: 30px;
}

p {
  font-size: 16px;
  padding: 10px;
}

#bigDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#mainDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  max-width: 800px;
  max-width: 70vw;
  padding-bottom: 10px;
  gap: 10px;
}

.card {
  color: black;
}

footer {
  margin-bottom: 50px;
  color: white;
}

@media only screen and (max-width: 750px) {
  footer {
    font-size: small;
    margin-bottom: 100px;
  }

  #mainDiv {
    max-width: 90vw;
  }

  .itemDescription {
    font-size: 1rem;
  }

  .fullImage:hover {
    width: 100%;
    transform: scale(2);
    z-index: 1;
  }

  .product-images-div {
    grid-template-columns: repeat(2, 1fr);
    /* gap: 1px; */
    /* margin: 1rem 0 1rem 0; */
    padding: 4rem;
    justify-items: center;
    align-items: center;
  }

  .hero-bg {
    background-image: linear-gradient(
        rgba(92, 64, 51, 0.7),
        rgba(92, 64, 51, 0.7)
      ),
      url(Gallery/m_bkground.jpg);
    background-size: cover; /* umple toată zona definită */
    background-position: center; /* centrează imaginea */
    background-repeat: no-repeat;
  }
}
